@model Lombiq.FeedAggregator.ViewModels.FeedSyncProfilePartContentTypeEditorViewModel

<fieldset>
    <ol>
        <li>
            @Html.LabelFor(m => m.FeedSyncProfilePart.ContentType, T("Content type"))
            @if (Model.FeedSyncProfilePart.PublishingCount >= 1)
            {
                @Html.DropDownList("ContentType", Model.CompatibleContentTypes, new { disabled = true })
            }
            else
            {
                @Html.DropDownList("ContentType", Model.CompatibleContentTypes)
            }
            @Html.Hint(T("A content item with this type will be created. Only types with FeedSyncProfileItemPart attached can be selected. You have to select this first and you can't change it later. You have to save the content item at least twice: once when selecting the content type and once after the reload when you will fill all other required fields."))
        </li>
    </ol>
</fieldset>